<body class="bg-dark">  
    <div class="py-2 text-center">
        <h2>Solicitar turno</h2>
        <p *ngIf="firestore.datosUsuarioActual.tipoUsuario != 'Administrador'" class="lead text-light">Por medio del siguiente formulario se puede solicitar un nuevo turno para el paciente: {{firestore.datosUsuarioActual.nombre}} {{firestore.datosUsuarioActual.apellido}}</p>
    </div>
    
    <ng-container *ngIf="inicializarPagina()">
    </ng-container>

    <form class="alta-turno card bg-secondary">
        <div>
            <div *ngIf="firestore.datosUsuarioActual.tipoUsuario == 'Administrador'" id="paciente">
                <div class="contenido-busqueda" (mouseleave)="desactivarBuscador($event)">     
                    <h4 style="margin-bottom: 20px;" class="text-light">Por favor busque al paciente que desea agregar</h4>             
                    <div class="barra-busqueda" (click)="activarBuscador()">
                      <input type="text" class="search" placeholder="Buscar paciente" (keyup)="cambioBusqueda($event)">
                    </div>
                    <div [hidden]="flagBuscador" class="elemento-busqueda">
                        <ul *ngFor="let paciente of listaFiltrada index as i" class="lista-busqueda">
                            <li (click)="elegirPaciente(paciente.uid)">
                                {{paciente.nombreCompleto}}
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>

            <div class="text-center" *ngIf="pacienteTurno != null && flagDiasCargados == false" id="especialidad">
                <h3 *ngIf="firestore.datosUsuarioActual.tipoUsuario == 'Administrador'" >Usted eligio al paciente: {{pacienteTurno.nombre}} {{pacienteTurno.apellido}}</h3>
                <label *ngIf="especialidadSeleccionada == ''" style="font-size: x-large;" for="">Elije especialidad:</label>  
                <!-- <select (change)="lanzarSpinner(500)" class="form-select" [(ngModel)] = "especialidadSeleccionada" name = "especialidadSeleccionada" required>
                    <option [disabled]="true" value="">Elegir especialidad...</option>
                    <option value="{{especialidad}}" *ngFor="let especialidad of especialidadesRegistradas; index as i">{{especialidad}}</option>
                </select> -->

                <div *ngIf="especialidadSeleccionada == ''" class="contenido" style="margin-top: 20px;">
                    <ng-container *ngFor="let especialidad of especialidadesRegistradas; index as i">
                        <!-- <h1>../../../assets/{{especialidad}}.png</h1> -->

                        <div class="imagen" style="margin-right: 20px; margin-top:20px;">
                            <input (click)="elegirEspecialidad(especialidad)" *ngIf="especialidad == 'Cardiología' || especialidad == 'Genética' || especialidad == 'Neurología' || especialidad == 'Nutrición' || especialidad == 'Psicologia' else elseblock2; " type="image" height="160px" width="400px" src="../../../assets/{{especialidad}}.png">
                            <ng-template #elseblock2>
                                <input (click)="elegirEspecialidad(especialidad)" type="image" height="160px" width="400px" src="../../../assets/Especialidad.png">
                            </ng-template>
                            <div style="text-align: center;">
                                <label style="color:black" for="">{{especialidad}}</label>                                
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
            <div *ngIf="flagDiasCargados == false" class="text-center" id="especialistas">
                <h4 *ngIf="especialidadSeleccionada != ''" class="lead text-light">Especialistas encontrados para la especialidad: {{especialidadSeleccionada}}</h4>
                <p style="font-size:large" class="lead text-light" *ngIf="especialidadSeleccionada != ''" >Seleccione el especialista al que quiere solicitar un turno</p>

                <div style="text-align: center;" *ngIf="!flagDiasCargados && especialidadSeleccionada != ''">
                    <button (click)="volverAtrasEspecialidad()" class="boton grande">Volver Atras</button>
                </div>    
                <!-- <div class="seleccion" *ngFor="let especialista of obtenerEspecialistasPorEspecialidad(especialidadSeleccionada); index as i"> -->
                    <!-- <div>
                        <input (click)="elegirEspecialista(especialista)" *ngFor="let especialista of obtenerEspecialistasPorEspecialidad(especialidadSeleccionada); index as i" class="btn btn-lg text-light bg-primary especialista" type="button" value="{{especialista.nombre}} {{especialista.apellido}}">
                    </div> -->
                    
                    <div class="eleccion">
                        <div (click)="elegirEspecialista(especialista)" *ngFor="let especialista of obtenerEspecialistasPorEspecialidad(especialidadSeleccionada);" class="carta">
                            <div class="description">
                                <h3>{{especialista.nombre}} {{especialista.apellido}}</h3>
                                <!-- <button (click)="elegirEspecialista(especialista)" class="boton">Elegir</button> -->
                            </div> 

                            <div class="head">
                                <div class="circle"></div>
                                <div class="img">
                                    <img src="{{especialista.imagenUno}}">
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div *ngFor="let especialista of obtenerEspecialistasPorEspecialidad(especialidadSeleccionada); index as i" (click)="elegirEspecialista(especialista)" class="card-body bg-primary text-light especialista">
                        <h3>{{especialista.nombre}} {{especialista.apellido}}
                            <img src="{{especialista.imagenUno}}" alt="" width="64" height="64">
                        </h3>
                    </div> -->
                <!-- </div> -->
            </div>

            <div *ngIf="flagDiasCargados" id="carga-horaria">
                <div style="text-align: center;">
                    <button (click)="volverAtras()" class="boton grande">Volver Atras</button>
                </div>    
                <div class="text-center" *ngIf="diasEspecialista.length != 0 else elseblock;">
                    <!-- <h3 class="text-light">El especialista {{especialistaSeleccionado.nombre}} {{especialistaSeleccionado.apellido}} está disponible los siguientes días: {{formatearDiasEnTexto(diasEspecialista)}}</h3>
                    <h4 class="text-light">Seleccione un día y horario:</h4>

                    <div class=""  *ngFor="let dia of diasDisponibles; index as i">
                        <p style="font-size:large;" class="text-light" >{{obtenerDiaPorNumero(dia.diaSemana)}} {{dia.dia}}/{{dia.mes}}/{{dia.anio}}</p>
                        <ng-container *ngFor="let horario of obtenerHorariosDiaSeleccionado(dia); index as i">
                            <input [disabled] = '! verificarDisponibilidad(dia,horario.hora)' *ngIf="horario.estaActivo" (click)="elegirTurno(dia,horario.hora)" class="btn btn-lg text-light hora" type="button" value="{{horario.hora}} ({{CANTIDADCONSULTORIOS - contarConsultorios(dia,horario.hora)}})">
                        </ng-container>
                        <hr class="mb-4">
                    </div> -->

                    <input (click)="elegirDia(dia)" *ngFor="let dia of diasDisponibles; index as i" class="btn btn-lg text-light dia" type="button" value="{{dia | dia}}">
                    <div *ngIf="diaElegido != null">
                        <h3 class="text-light">Seleccione el horario que desea elegir:</h3>
                        <div *ngIf="horarioDiaElegido!=null">
                            <h3>Horarios disponibles del día {{obtenerDiaPorNumero(diaElegido.diaSemana)}} {{diaElegido.dia}}/{{diaElegido.mes}}/{{diaElegido.anio}} para el especialista {{especialistaSeleccionado.nombre}} {{especialistaSeleccionado.apellido}}</h3>
                            <ng-container *ngFor="let horario of horarioDiaElegido; index as i">
                                <input [disabled] = '! verificarDisponibilidad(diaElegido,horario.hora)' *ngIf="horario.estaActivo" (click)="elegirTurno(diaElegido,horario.hora)" class="btn btn-lg text-light bg-danger hora" type="button" value="{{horario.hora}} ({{CANTIDADCONSULTORIOS - contarConsultorios(diaElegido,horario.hora)}})">
                            </ng-container>
                        </div>
                    </div>
                </div>

                <ng-template #elseblock>
                    <h1 class="text-light">El especialista {{especialistaSeleccionado.nombre}} {{especialistaSeleccionado.apellido}} no tiene horarios cargados por ende no está disponible para su turno</h1>
                </ng-template>
            </div>
        </div>

        <!-- <div style="text-align: center;">
            <button type="submit" class="btn btn-lg text-light bg-success" >Agregar</button>
        </div> -->
    </form>
</body>