<body #pagina class="modo-nocturno">
    <div class="card" [ngClass]="{'admin' : tipoSeleccionado == 'Administrador'}" >
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="{{imagenPerfil}}">
            </div>
        </div>

        <div class="description">
            <h3>Mi Perfil</h3>
            <p>{{mensajePerfil}}</p>
            <button (click)="navigate('bienvenido/mi-perfil')">Acceder a mi perfil</button>
        </div> 
    </div>

    <div *ngIf="tipoSeleccionado != 'Administrador'" class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="https://imgs.search.brave.com/e30JI6ATZTBh56xuIrV3VcoHTYZOEcZLeKkOU0-WHnw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90dXJu/b3MyNC5hci93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyMS8wOS9T/YWNhci10dXJub3Mt/ZW4tQ2xpbmljYS1D/cnV6LUNlbGVzdGUu/anBn">
            </div>
        </div>

        <div class="description">
            <h3>Mis Turnos</h3>
            <p>En está sección puedes ver y administrar los turnos que tengas asignados</p>
            <button (click)="navigate('bienvenido/turnos/mis-turnos')" >Mis turnos</button>
        </div> 
    </div>
    
    <div *ngIf="tipoSeleccionado != 'Especialista'" class="card" [ngClass]="{'admin' : tipoSeleccionado == 'Administrador'}">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="https://cdn.icon-icons.com/icons2/1035/PNG/256/hospital_icon-icons.com_76234.png">
            </div>
        </div>

        <div class="description">
            <h3>Solicitar Turno</h3>
            <p>Necesitas un turno a la brevedad. Solicitalo</p>
            <button (click)="navigate('bienvenido/turnos/solicitar-turno')">Solicitar Turno</button>
        </div> 
    </div>

    <div *ngIf="tipoSeleccionado == 'Especialista'" class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/paciente.png">
            </div>
        </div>

        <div class="description">
            <h3>Pacientes</h3>
            <p>En está sección podes ver a todos los pacientes que hayas atendido al menos una vez.</p>
            <button (click)="navigate('bienvenido/pacientes')">PACIENTES</button>
        </div> 
    </div>

    <div *ngIf="tipoSeleccionado == 'Administrador'" class="card admin">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="https://cdn.icon-icons.com/icons2/65/PNG/128/community_users_12977.png">
            </div>
        </div>

        <div class="description">
            <h3>Usuarios</h3>ß
            <p>Administra a los usuarios registrados en la clinica.</p>
            <button (click)="navigate('bienvenido/usuarios')">Administra a los usuarios</button>
        </div> 
    </div>

    <div *ngIf="tipoSeleccionado == 'Administrador'" class="card admin">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="https://imgs.search.brave.com/e30JI6ATZTBh56xuIrV3VcoHTYZOEcZLeKkOU0-WHnw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90dXJu/b3MyNC5hci93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyMS8wOS9T/YWNhci10dXJub3Mt/ZW4tQ2xpbmljYS1D/cnV6LUNlbGVzdGUu/anBn">
            </div>
        </div>

        <div class="description">
            <h3>Turnos</h3>
            <p>Puedes ver los turnos de la clinica y cancelarlos si es necesario</p>
            <button (click)="navigate('bienvenido/turnos/ver-turnos')">Ver Turnos</button>
        </div> 
    </div>
</body>
<router-outlet></router-outlet>