<body>


    <div class="botones-acceso">
        <input (click)="accesoRapido('marification66@gmail.com','12345678')" class="acceso paciente" type="image" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-laboiv.appspot.com/o/imagenes-usuarios%2Ffoto-perfil-1-42877058?alt=media&token=e727f127-8513-4f2f-b49c-a9b967cec667" width="64px" height="48px">
        <input (click)="accesoRapido('saboga9408@dalebig.com','12345678')" class="acceso paciente" type="image" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-laboiv.appspot.com/o/imagenes-usuarios%2Ffoto-perfil-1-11111111?alt=media&token=38c9cd16-4408-4865-bb30-985174b47adf" width="64px" height="48px">
        <input (click)="accesoRapido('wanit31712@dalebig.com','12345678')" class="acceso paciente" type="image" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-laboiv.appspot.com/o/imagenes-usuarios%2Ffoto-perfil-1-12121214?alt=media&token=b042c388-8716-4e64-8d95-da64bdb31aec" width="64px" height="48px">
        <input (click)="accesoRapido('budarojo69@gmail.com','12345678')" class="acceso especialista" type="image" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-laboiv.appspot.com/o/imagenes-usuarios%2Ffoto-perfil-1-2555555?alt=media&token=9172957e-da7a-4619-88cd-ae8c68e24011" width="64px" height="48px">
        <input (click)="accesoRapido('rurzefostu@gufum.com','12345678')" class="acceso especialista" type="image" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-laboiv.appspot.com/o/imagenes-usuarios%2Ffoto-perfil-1-24142442?alt=media&token=9d75f20a-7edd-4b93-8e99-7fb935e57360" width="64px" height="48px">
        <input (click)="accesoRapido('mezequielfernandez4@hotmail.com','12345678')" class="acceso admin" type="image" src="https://firebasestorage.googleapis.com/v0/b/clinica-online-laboiv.appspot.com/o/imagenes-usuarios%2Ffoto-perfil-1-33016244?alt=media&token=bcba2798-4bf6-44fd-adb3-fc4b116c1672" width="64px" height="48px">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <h3 style="margin-top: 20px; padding-top:30px" class="login-title">LA CLINICA ONLINE</h3>
                </div>
                <!-- <div class="col-lg-12 login-title">
                    LA CLINICA ONLINE
                </div> -->

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form (ngSubmit)="loguearse()">
                            <div class="form-group">
                                <label class="form-control-label">EMAIL</label>
                                <input type="text" [(ngModel)] = "email" name = "email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">CONTRASEÑA</label>
                                <input type="password" class="form-control" [(ngModel)] = "clave" name = "clave">
                            </div>

                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-6 login-btm login-text text-danger">
                                    {{mensajeError}}
                                </div>
                            </div>

                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-outline-primary">INICIAR SESION</button>
                            </div>
                            <br>

                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </div>
        <br>    
    <router-outlet></router-outlet>
</body>

<router-outlet></router-outlet>
