body
{
    background-color: rgb(36, 34, 34);
    min-height: 90vh;
}

span
{
    color: rgb(255, 255, 255);
}

#registro
{
    background-color: blue;
}

.boton {
    margin: 10px;
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: #1023ca;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    opacity: 0.8;
}

.grande
{
    padding: 15px 45px;
    font-size: 15px;
}

.verde
{
	background-color: #458114;
}

.boton:active {
	transform: scale(0.95);
}

.boton:focus {
	outline: none;
}

.boton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.boton:hover
{
    opacity: 1;
}