<body class="bg-dark">
    <div class="container bootstrap snippets bootdey">
        <div class="row" *ngIf="firestore.datosUsuarioActual != undefined && flagHorarios">
          <div class="profile-nav col-md-3">
              <div class="panel">
                  <div class="user-heading round" style="background-color: #1023ca;">
                      <a *ngIf="firestore.datosUsuarioActual.tipoUsuario != 'Paciente'; else elseblock" href="{{firestore.datosUsuarioActual.imagenUno}}">
                          <img src="{{firestore.datosUsuarioActual.imagenUno}}" alt="">
                      </a>
                      <ng-template #elseblock>
                        <a *ngIf="flagImagen; else elseblock2" href="{{firestore.datosUsuarioActual.imagenUno}}">
                            <img src="{{firestore.datosUsuarioActual.imagenUno}}" alt="">
                        </a>
                        <i (click)="cambiarValorBanderaImagen()" [hidden]="!flagImagen" class="arrow right"></i>
                        <ng-template #elseblock2>
                            <i (click)="cambiarValorBanderaImagen()" class="arrow left"></i>
                            <a href="{{firestore.datosUsuarioActual.imagenDos}}">
                                <img src="{{firestore.datosUsuarioActual.imagenDos}}" alt="">
                            </a>
                        </ng-template>
                      </ng-template>
                      <h1>{{firestore.datosUsuarioActual.nombre}} {{firestore.datosUsuarioActual.apellido}}</h1>
                      <p>{{autenticacion.usuarioActual.email}}</p>
                  </div>
        
                  <!-- <ul class="nav nav-pills nav-stacked">
                      <li class="active"><a href="#"> <i class="fa fa-user"></i>Usuarios</a></li>
                      <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
                      <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
                  </ul> -->
              </div>
          </div>
          <div class="profile-info col-md-9">
              <div class="panel">
              </div>
              <div class="panel">
                  <div class="bio-graph-heading" style="background-color: #1023ca;">
                      Bienvenido a la clinica {{firestore.datosUsuarioActual.tipoUsuario}} {{firestore.datosUsuarioActual.nombre}} {{firestore.datosUsuarioActual.apellido}}
                  </div>
                  <div class="card panel-body bio-graph-info" style="background-color: #dddbb1; margin-top:10px">
                      <h1 style="margin-left: 5px;">Información del usuario</h1>
                        <div class="row">
                            <ng-container *ngFor="let item of firestore.datosUsuarioActual | keyvalue">
                                <div class="bio-row" *ngIf="item.key != 'imagenUno' && item.key != 'imagenDos' && item.key != 'uid'">
                                    <p><span>{{formatearString(item.key)}} </span>: {{obtenerValor(item.value)}}</p>
                                </div>
                            </ng-container>
                        </div>
                  </div>
              </div>
          </div>

          <ng-container *ngIf="firestore.datosUsuarioActual.tipoUsuario == 'Especialista'">
            <div id="btnHorario">
                <button (click)="cambiarValorBanderaHorarios()" class="btn btn-lg text-light" style="background-color:#7a1299">Editar horarios</button>
            </div>
          </ng-container>

          <ng-container *ngIf="firestore.datosUsuarioActual.tipoUsuario == 'Paciente' && firestore.datosUsuarioActual.historiaClinica">
            <div id="btnHorario">
                <button (click)="mostrarHistoriaClinica(firestore.datosUsuarioActual)" class="btn btn-lg text-light" style="background-color:#059210">Ver Historia Clinica</button>
            </div>
            <div id="btnHorario">
                <button (click)="descargarPDF(firestore.datosUsuarioActual)" class="btn btn-lg text-light" style="background-color:#920505">Descargar PDF de Historia Clinica</button>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!flagHorarios" style="text-align: center;">
            <button (click)="cambiarValorBanderaHorarios()" class="boton grande">Volver Atras</button>
            <app-registrar-horarios [hidden]="flagHorarios" ></app-registrar-horarios>
        </div> 
    </div>
</body>

<router-outlet></router-outlet>