table 
{
    border-collapse: collapse;
    min-width: 100%;
    max-width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.especial
{
    margin: 30px auto;
}

tr:first-child 
{
    background-color: #1c87c9;
    color: #fff;
}
  
th,td 
{
    padding: 10px;
    border: 1px solid #666;
}

td
{
    background-color: #ffffff;

}

.usuarios
{
    height: 400px;
	overflow-y: scroll;
    flex-wrap: wrap;
	background-color: #c9bbbb;
}

#seleccion
{
	background-color: #c9bbbb;
    font-weight: bold;
}

button:hover
{
    border: 5px solid;
    border-color: rgb(195, 0, 255);
    cursor: pointer;
}

p
{
    margin: 12px;
}

body 
{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background: #EFD5C3;
    /* flex-wrap: wrap; */
}

#estructura
{
	flex: auto;
    border-radius: 40px;
    overflow: hidden;
    margin: 10px 10px;
    transition: .5s;
}

.boton {
    margin: 10px;
	border-radius: 20px;
	border: 1px solid #ffffff;
	background-color: #ca1010;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    opacity: 0.8;
}

.grande
{
    padding: 15px 45px;
    font-size: 15px;
}

.boton:active {
	transform: scale(0.95);
}

.boton:focus {
	outline: none;
}

.boton.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.boton:hover
{
    opacity: 1;
}


