<body>

  <div style="text-align: center;">
    <button class="btn btn-lg text-light" (click)="cambiarFlag(true)" style="background-color:#7a1299; margin-right:25px">Fab Button</button>
    <button class="btn btn-lg text-light" (click)="cambiarFlag(false)" style="background-color:#994112">Tabla</button>
  </div>

  <div style="text-align: center;">
    <button (click)="cambiarTipoUsuario('Pacientes')" class="boton grande">Pacientes</button>
    <button (click)="cambiarTipoUsuario('Especialistas')" class="boton grande">Especialistas</button>
    <button (click)="cambiarTipoUsuario('Administradores')" class="boton grande">Administradores</button>
    <br>
  </div> 

  
  <h2 style="text-align: center;">Mostrando los {{tipoUsuario}}</h2>

  <table *ngIf="tipoUsuario == 'Administradores' && !flagFabButton" class="especial">
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Foto</th>
      </tr>
      <tr (click) = "elegirUsuario(admin)" *ngFor="let admin of listaAdministradores; index as i" class="usuario">
        <td>{{admin.apellido}}</td>
        <td>{{admin.nombre}}</td>
        <td>{{admin.dni}}</td>
        <td>{{admin.edad}}</td>
        <td>{{admin.email}}</td>
        <td><img src="{{admin.imagenUno}}" width="64" height="64"></td>
      </tr>
  </table>
  
  <table *ngIf="tipoUsuario == 'Pacientes'  && !flagFabButton" class="especial">
    <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Obra Social</th>
          <th>Foto 1</th>
          <th>Foto 2</th>
          <th>Historia Clinica</th>          
      </tr>
      <tr (click) = "elegirUsuario(paciente)" *ngFor="let paciente of listaPacientes; index as i" class="usuario">
        <td>{{paciente.apellido}}</td>
        <td>{{paciente.nombre}}</td>
        <td>{{paciente.dni}}</td>
        <td>{{paciente.edad}}</td>
        <td>{{paciente.email}}</td>
        <td>{{paciente.obraSocial}}</td>
        <td><img src="{{paciente.imagenUno}}" width="64" height="64"></td>
        <td><img src="{{paciente.imagenDos}}" width="64" height="64"></td>
        <td *ngIf="paciente.historiaClinica"><button (click)="mostrarHistoriaClinica(paciente)" class="btn btn-primary" >Ver</button> </td>
        <td *ngIf="!paciente.historiaClinica">No cargada</td>
      </tr>
  </table>

  <table *ngIf="tipoUsuario == 'Especialistas'  && !flagFabButton">
    <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Especialidad</th>
          <!-- <th>Está habilitado</th> -->
          <th>Foto</th>
          <th>¿Habilitar/Deshabilitar?</th>
      </tr>
      <tr (click) = "elegirUsuario(especialista)" *ngFor="let especialista of listaEspecialistas; index as i" class="usuario">
        <td>{{especialista.apellido}}</td>
        <td>{{especialista.nombre}}</td>
        <td>{{especialista.dni}}</td>
        <td>{{especialista.edad}}</td>
        <td>{{especialista.email}}</td>
        <td>{{obtenerEspecialidad(especialista.especialidad)}}</td>
        <!-- <td *ngIf="especialista.estaActivo; else elseBlock">Si</td> -->
        <ng-template #elseBlock><td>No</td></ng-template>
        <td><img src="{{especialista.imagenUno}}" width="64" height="64"></td>
        <td *ngIf="especialista.estaActivo; else elseBlock2"><button class="btn btn-danger" (click)="activarDesactivarEspecialista(especialista)">Deshabilitar</button></td>
        <ng-template #elseBlock2><td><button class="btn btn-success" (click)="activarDesactivarEspecialista(especialista)">Habilitar</button></td></ng-template>
      </tr>
  </table>

  <div *ngIf="flagFabButton">
    <div class="fabbotons" style="text-align: center;" *ngIf="tipoUsuario == 'Pacientes'">
      <ng-container *ngFor="let paciente of listaPacientes; index as i">
        <div>
          <button (click)="descargarExcel(paciente)" mat-fab class="fab bg-danger" style="margin-right: 20px;">
            <img class="foto" src="{{paciente.imagenUno}}" width="110px" height="110px" alt="">
          </button>
          <p>{{paciente.nombre}} {{paciente.apellido}}</p>
        </div>
      </ng-container>
    </div>

    <div class="fabbotons" style="text-align: center;" *ngIf="tipoUsuario == 'Especialistas'">
      <ng-container *ngFor="let especialista of listaEspecialistas; index as i">
        <div>
          <button (click)="descargarExcel(especialista)" mat-fab class="fab bg-primary" style="margin-right: 20px;">
            <img class="foto" src="{{especialista.imagenUno}}" width="110px" height="110px" alt="">
          </button>
          <p>{{especialista.nombre}} {{especialista.apellido}}</p>
        </div>
      </ng-container>
    </div>

    <div class="fabbotons" style="text-align: center;" *ngIf="tipoUsuario == 'Administradores'">
      <ng-container *ngFor="let administrador of listaAdministradores; index as i">
        <div>
          <button mat-fab class="fab oro" style="margin-right: 20px;">
            <img class="foto" src="{{administrador.imagenUno}}" width="110px" height="110px" alt="">
          </button>
          <p>{{administrador.nombre}} {{administrador.apellido}}</p>
        </div>
      </ng-container>
    </div>
  </div>
</body>