<body>

  <div style="text-align: center;">
    <button (click)="cambiarTipoUsuario('Pacientes')" class="boton grande">Pacientes</button>
    <button (click)="cambiarTipoUsuario('Especialistas')" class="boton grande">Especialistas</button>
    <button (click)="cambiarTipoUsuario('Administradores')" class="boton grande">Administradores</button>
    <br>
  </div> 

  <h2 style="text-align: center;">Mostrando los {{tipoUsuario}}</h2>

  <table *ngIf="tipoUsuario == 'Administradores'" class="especial">
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Foto</th>
      </tr>
      <tr (click) = "elegirUsuario(admin)" *ngFor="let admin of listaAdministradores; index as i" class="usuario">
        <td>{{admin.apellido}}</td>
        <td>{{admin.nombre}}</td>
        <td>{{admin.dni}}</td>
        <td>{{admin.edad}}</td>
        <td>{{admin.email}}</td>
        <td><img src="{{admin.imagenUno}}" width="64" height="64"></td>
      </tr>
  </table>
  
  <table *ngIf="tipoUsuario == 'Pacientes'" class="especial">
    <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Obra Social</th>
          <th>Foto 1</th>
          <th>Foto 2</th>
          <th>Historia Clinica</th>          
      </tr>
      <tr (click) = "elegirUsuario(paciente)" *ngFor="let paciente of listaPacientes; index as i" class="usuario">
        <td>{{paciente.apellido}}</td>
        <td>{{paciente.nombre}}</td>
        <td>{{paciente.dni}}</td>
        <td>{{paciente.edad}}</td>
        <td>{{paciente.email}}</td>
        <td>{{paciente.obraSocial}}</td>
        <td><img src="{{paciente.imagenUno}}" width="64" height="64"></td>
        <td><img src="{{paciente.imagenDos}}" width="64" height="64"></td>
        <td *ngIf="paciente.historiaClinica"><button (click)="mostrarHistoriaClinica(paciente)" class="btn btn-primary" >Ver</button> </td>
        <td *ngIf="!paciente.historiaClinica">No cargada</td>
      </tr>
  </table>

  <table *ngIf="tipoUsuario == 'Especialistas'">
    <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Especialidad</th>
          <!-- <th>Está habilitado</th> -->
          <th>Foto</th>
          <th>¿Habilitar/Deshabilitar?</th>
      </tr>
      <tr (click) = "elegirUsuario(especialista)" *ngFor="let especialista of listaEspecialistas; index as i" class="usuario">
        <td>{{especialista.apellido}}</td>
        <td>{{especialista.nombre}}</td>
        <td>{{especialista.dni}}</td>
        <td>{{especialista.edad}}</td>
        <td>{{especialista.email}}</td>
        <td>{{obtenerEspecialidad(especialista.especialidad)}}</td>
        <!-- <td *ngIf="especialista.estaActivo; else elseBlock">Si</td> -->
        <ng-template #elseBlock><td>No</td></ng-template>
        <td><img src="{{especialista.imagenUno}}" width="64" height="64"></td>
        <td *ngIf="especialista.estaActivo; else elseBlock2"><button class="btn btn-danger" (click)="activarDesactivarEspecialista(especialista)">Deshabilitar</button></td>
        <ng-template #elseBlock2><td><button class="btn btn-success" (click)="activarDesactivarEspecialista(especialista)">Habilitar</button></td></ng-template>
      </tr>
  </table>
</body>